.rmdb-moviethumb img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
  object-fit: cover;
  transform: scale(1);
}

.clickable {
  cursor: pointer;
}

.rmdb-moviethumb a:hover img {
  transform: scale(1.1)
}